.banner img {
  width: 100%;
  height: auto;
}

nav {
  background-color: #fffadb;
  padding: 10px;
}

nav a.active {
  color: rgb(19, 18, 18);
  text-decoration: none;

}

nav a {
  margin-right: 15px;
  text-decoration: underline;
  color: rgb(26, 9, 255);
  font-weight: bold;
}


.title h1 {
  background-color: #c0bf78;
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
}

#map {
  height: 700px;
}


footer {
  margin-top: 40px;
  padding: 15px;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
}
